<% content_for :sidebar_menu_nav do %>
  <%= sidebar_menu(:admin_settings_menu).render(title: t(".title") ) %>
<% end %>

<div class="card" id="">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t "decidim.admin.titles.custom_registration_form" %>
    </h2>
  </div>
  <div class="card-section">
    <p><%= t(".registration_form.description") %></p>

    <%= decidim_form_for(@registration_form, url: custom_registration_form_path, method: :put) do |f| %>
      <div class="card">
        <div class="card-divider">
          <h2 class="card-title"><%= t(".organization_form.title") %></h2>
        </div>
        <div class="card-section">
          <%= render partial: "decidim/custom_registration_form/admin/custom_registration_form/registration_form", locals: { form: f } %>
        </div>
      </div>
    <% end %>

    <div class="card">
      <div class="card-divider">
        <h2 class="card-title"><%= t(".custom_fields.title") %></h2>
      </div>
      <div class="card-section">
        <% Decidim.content_blocks.for(:signup_form).each do |content_block| %>
          <div class="flex">
            <p><%= content_block.name %></p>
            <div class="switch">
              <input class="switch-input" id="exampleSwitch" type="checkbox" name="exampleSwitch">
              <label class="switch-paddle" for="exampleSwitch">
                <span class="show-for-sr">Download Kittens</span>
              </label>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
